.box1{
    padding: 0px 0px 0px 450px;
}
.box2{
    padding: 75px 0px 0px 0px;
}
.box3{
    margin-top:50px;
}
.gambarprofil{
    width: 100%;
    height: 30rem;
}
.gambarcar{
    height: 400px;
    filter: brightness(50%);
}
.border{
    border-radius: 3px;
}

.sm{
    position: relative;
}

.footer{
    position: relative;
    background-color: #149BFC;
    margin-top:15px;
    padding: 50px 0px 50px 0px;
}

.formborder{
    border-radius: 50px;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

/* STYLE ADMIN */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

.loginadmin{
    display: flex;
    justify-content:center;
    align-items: center;
}
.boxadmin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 30rem;
    background: slategrey;
}

.sidenav{
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background: #149BFC;
  user-select: none;
  z-index: 2;
}

.sidenav header{
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background-color: #0068b3;
}

.sidenav ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.sidenav ul a:hover{
    padding-left: 50px;
    background: white;
    color: #000;
    border-radius: 50px;
    transition: 0.4s;
}

.sidenav ul a.active {
    color: #000;
    background: white;
    border-radius: 50px;
    padding-left: 50px;
  }

.mainboard{
    position: absolute;
    padding: 100px 0px 0px 250px;
    width: 100%;
}

.navtop{
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: right;
    background: white;
    padding-right: 100px;
}

.navtop ul li{
    display: inline;
    line-height:50px;
}

.list{
    display: inline;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 30px;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    text-decoration: none;
}

.list:hover{
    background: silver;
    color:white;
    transition: 0.4s;
    border-radius: 50px;
}


